
/*Paleta de Cores*/
:root {
    --cor1: #181C1C;
    --cor2: #fafe00d4;
    --cor3: #F0F0F0;
    --cor4: #2F3232;
}

/*Declarações Globais*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: auto;
    
}

.container-nav{
    width: 100%;
    height: 80px;
    display: flex;
    padding: 5px;

    .left{

        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 5px;

        img{
            width: 40px;
        }
    }

    .rigth{

        width: 40%;
        height: 100%;
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 10px;
        padding: 5px;


        img{
            width: 20px;
        }

        div{
            background-color: rgba(68, 67, 67, 0.319);
            width: 60px;
            height: 60px;
            border: 2px solid var(--cor2);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 20px;
            }
        }
    } 
}

.container-1{
    width: 100%;
    height: 190px;

    .box-txt{

        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;

        h2{
            font-size: 2.4em;
            font-weight: 100;
        }

        
    }

    .box-btns{

        width: 100%;
        height: 40%;
        display: flex;
        align-items: center;
        overflow: scroll;
        gap: 10px;

        button{
            min-width: 140px;
            height: 60px;
            padding: 15px;
            font-size: 1.1em;
            border-radius: 30px;
            border: none;
        }

        button:hover{
            background-color: var(--cor1);
            color: var(--cor3);
        }
    }

}

.fundo{
    width: 100%;
    height: 400px;
    border-radius: 25px;
    background-color: var(--cor4);
    

    .container-2{

        width: 100%;
        height: 210px;
        border-radius: 25px;
        background-color: var(--cor1);
        padding: 8px;
    
        .box1{
            width: 100%;
            height: 30%;
    
            display: flex;
            justify-content: space-between;
            padding: 5px;
    
            .perf{
                width: 50px;
        
                background-color: #F0F0F0;
                border-radius: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                
    
                img{
                    width: 20px;
                }
            }
    
            .nome{
        
                width: 250px;
                height: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: left;
                padding: 5px;
    
                h2{
                    font-size: 1.2em;
                    color: #F0F0F0;
                }
    
                p{
                    color: #676666;
                    font-size: 0.8em;
                }
    
    
            }
    
            .seta{
                width: 50px;
        
                background-color: #F0F0F0;
                border-radius: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
    
                img{
                    width: 20px;
                    transform: rotate(-45deg);
                }
            }
        }
    
        .box2{
            width: 100%;
            height: 30%;
    
            display: flex;
            justify-content: left;
            padding: 5px;
            gap: 15px;
    
            .perf{
                width: 50px;
        
                background-color: #F0F0F0;
                border-radius: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                
    
                img{
                    width: 20px;
                }
            }
    
            .nome2{
        
                width: 250px;
                height: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: left;
                padding: 5px;
    
                h2{
                    font-size: 1.2em;
                    color: #F0F0F0;
                }
    
                p{
                    color: #676666;
                    font-size: 0.8em;
                }
    
    
            }
    
        }
    
        .box3{
            width: 100%;
            height: 30%;
    
            display: flex;
            align-items: center;
            gap: 10px;
            
            .box-icones{
        
                display: flex;
                align-items: center;
                gap: 10px;
                background-color: var(--cor2);
                width: 65%;
                height: 100%;
                padding: 5px;
                border-radius: 30px;
    
                .perf{
                    width: 50px;
                    height: 50px;
                    border: 2px solid var(--cor1);
                    background-color: #F0F0F0;
                    border-radius: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    img{
                        width: 20px;
                    }
                }
        
                h3{
                    font-size: 0.9em;
                    color: var(--cor1);
                }
        
                #img{
                    margin-left: 35px;
                    width: 15px;
                    transform: rotate(-90deg);
                }
            }
    
            .icon1{
                width: 50px;
                height: 50px;
        
                background-color: #F0F0F0;
                border-radius: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                
                img{
                    width: 20px;
                }
            }
    
            .icon2{
                width: 50px;
                height: 50px;
                background-color: #F0F0F0;
                border-radius: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                
                img{
                    width: 20px;
                }
            }
    
        }
    }

}

/*Colocando Video*/
.container-video{
    width: 100%;
    height: 190px;
    border-radius: 0px 0px 25px 25px;
    overflow: hidden;
   
    video{
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
        
    }
    
}

.container-menu{
    width: 390px;
    background-color: #676666;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-radius: 32px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    .menu-icon-1{
        background-color: #F0F0F0;
        width: 70px;
        height: 70px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    .menu-icon-2{
        background-color: #F0F0F0;
        width: 70px;
        height: 70px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }


    .menu-icon-3{
        background-color: #F0F0F0;
        width: 70px;
        height: 70px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    .menu-icon-4{
        background-color: #F0F0F0;
        width: 70px;
        height: 70px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    .menu-icon-5{
        background-color: #F0F0F0;
        width: 70px;
        height: 70px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    img{
        width: 25px;
    }

}

.menu-hover:hover{
    background-color: var(--cor2);
    
}